.container{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: gainsboro;
}
.field{
   padding: 10px;
}
.nav-links{
    margin: 0px 20px;
    display: flex;
    justify-content: flex-end;
}
.nav-links > a{
    padding: 10px;
}