{% extends "index.html" %}

{% block content %}
<h3 >Login </h3>
<div class="box">
    <form method="GET" action="/login">
        <div  class="container">
            <div class="field">
                <input  type="email" name="email" placeholder="Your Email" autofocus="">
            </div>
            <div  class="field">
                <input  type="password" name="password" placeholder="Your Password">
            </div>
            <button type="submit">Login</button>
        </div>
    </form>
</div>
{% endblock %}